.swiper-container {
    width: 600px;
    height: 300px;
    background-color: black;
}
.swiper-slide{
    width: 600px;
    height: 300px;
    background-color: yellow;
}
body{
     width: 650px;
     margin: 0 auto;
}
.basic_info{
    display: flex;


}